go 1.26.4

use (
	./pkg
	./proto
	./services/asset-service
	./services/auth-service
	./services/catalog-service
	./services/content-service
	./services/gateway-service
	./services/mesh-service
	./services/passkey-service
	./services/twofa-service
	./services/upload-service
)
